form {
  padding: 20px 20%;
}
.main {
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
    border-radius: 6px;
}
.form-group input,
.form-group textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
  height: 40px;
  background-color: #fff;
}

.form-control:focus,
.form-group textarea:focus {
  border: 2px solid #00695c;
}
